.form{
    text-align:center;
}
body{
    background-image: url("con2.jpg");
    
}
.box{
    margin-top:100px;
    margin-left: 30%;
    width:500px;
    /* margin: 30px; */
  background-color:white;
  border: 1px solid black;
  opacity: 1.0;
}
#celcius{
    color:red;
    
}